
.mobile-container {
    display: none;
    position: absolute;
    max-width: 991px;
    margin: auto;
    border-radius: 10px;
    z-index: 2;
  }
  
  .topnav {
    overflow: hidden;
    background-color: rgba(97, 96, 96, 0.589);
    position: relative;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .active {
    opacity: rgba(226, 183, 135, 0.288);
    color: white;
  }
  
 
  .topnav img{
      width: 65px;
  }


@media all and (max-width: 991px){
    .mobile-container{
        display: block;
        position: fixed;
        width: 100%;
    }
    .main-nav{
        display: none;
    }
}
@media all and (max-width: 480px){
    header {
        display: none;
    }
}


header{
    width: 100%;
    background: rgb(104, 94, 82);
    position: fixed;
    top: 0;
}
header li{
    display: inline-block;
    margin-left: 30px;
    margin-top: 40px;
}
.manchester{
    color: white;
}
header a{
    text-decoration: none;
    color: rgb(226, 183, 135);
    font-size: 2.1vw;
    font-family: 'Poiret One', cursive;
}
header a:hover{
    color: rgb(0, 0, 0);
}
.header-wrap{
    width: 100%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}


.header_text1{
    font-size: 100px;
    color: rgb(255, 255, 255);
    text-align: center;
    box-sizing: border-box;
    font-family: 'Poiret One';
}

.header_text2{
    font-size: 100px;
    color: rgb(255, 255, 255);
    text-align: center;
    box-sizing: border-box;
    margin-top: 50px;
    font-family: 'Poiret One';
}

.end{
    display: flex;
    font-size:  27px;
    color: rgb(255, 255, 255);
    font-family: 'Poiret One';
    margin-top: 20px;
}
.euro_end{
    width: 40%;
}
.text_end{
    width: 60%;
}
.options{
    font-size:  20px;
    color: rgb(255, 255, 255);
    font-family: 'Poiret One';
}
.color{
    background-color: rgb(221, 171, 113);
    padding: 100px 50px 50px 50px;
}




footer{
    width: 100%;
}
.footer-info{
    background-color: rgb(104, 94, 82);
}
.footer-whole{
    width: 90%;
    justify-content: center;
    margin: auto;
}
.footer-common{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 80px;
}
.test{
    align-items: center;
    display: flex;
}
.footer-left a{
    text-decoration: none;
    color: rgb(219, 136, 40);
    font-size: 18px;
}
.footer-left a:hover{
    color: #ddd;
}
.footer-right a{
    padding: 0px 10px;
}
.footer-right img{
    width: 50px;
}














::-webkit-scrollbar{
    background: #f0ec03;
    width: 14px;
}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 10px white;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(125deg,#f1c40f, #f6b93b, #eb2f06);
    border-radius: 15px;
}


@media screen and (max-width: 958px){
    .end,
    .options{
        font-size: 25px;
    }
}
@media screen and (max-width: 904px){
    .end,
    .options{
        font-size: 23px;
    }
}
@media screen and (max-width: 820px){
    .end,
    .options{
        font-size: 21px;
    }
}
@media screen and (max-width: 758px){
    .end,
    .options{
        font-size: 19px;
    }
}
@media screen and (max-width: 578px){
    .end,
    .options{
        font-size: 18px;
    }
}
@media screen and (max-width: 531px){
    .end,
    .options{
        font-size: 16px;
    }
}
@media screen and (max-width: 800px){
    .header_text1{
        font-size: 80px;
    }
}
@media screen and (max-width: 600px){
    .header_text1{
        font-size: 70px;
    }
}

@media screen and (max-width: 1011px){
    .image_header{
       display: none;
    }
}

@media screen and (max-width: 840px){
    header a{
        font-size: 17px;
    }
}
@media screen and (max-width: 528px){
    header a{
        font-size: 2.5vw;
    }
}

@media all and (max-width: 800px) {
    .vkattor, .insttator, .twiteratto, .facetator{
        background-size: contain;
        width: 40px;
        height: 40px;
    }
}
@media all and (max-width: 762px) {
    .vkattor, .insttator, .twiteratto, .facetator{
        background-size: contain;
        width: 30px;
        height: 30px;
    }
}
@media all and (max-width: 655px) {
    .vkattor, .insttator, .twiteratto, .facetator{
        background-size: contain;
        width: 30px;
        height: 28px;
    }
}
@media all and (max-width: 584px) {
    .vkattor, .insttator, .twiteratto, .facetator{
        background-size: contain;
        width: 30px;
        height: 26px;
    }
}
@media all and (max-width: 523px) {
    .vkattor, .insttator, .twiteratto, .facetator{
        background-size: contain;
        width: 30px;
        height: 24px;
    }
}
@media all and (max-width: 473px) {
    .vkattor, .insttator, .twiteratto, .facetator{
        background-size: contain;
        width: 30px;
        height: 22px;
    }
}
@media all and (max-width: 800px) {
    .vkattor:hover, .insttator:hover, .twiteratto:hover, .facetator:hover{
        background-size: contain;
        width: 40px;
        height: 40px;
    }
}
@media all and (max-width: 762px) {
    .vkattor:hover, .insttator:hover, .twiteratto:hover, .facetator:hover{
        background-size: contain;
        width: 30px;
        height: 30px;
    }
}
@media all and (max-width: 655px) {
    .vkattor:hover, .insttator:hover, .twiteratto:hover, .facetator:hover{
        background-size: contain;
        width: 30px;
        height: 28px;
    }
}
@media all and (max-width: 584px) {
    .vkattor:hover, .insttator:hover, .twiteratto:hover, .facetator:hover{
        background-size: contain;
        width: 30px;
        height: 26px;
    }
}
@media all and (max-width: 523px) {
    .vkattor:hover, .insttator:hover, .twiteratto:hover, .facetator:hover{
        background-size: contain;
        width: 30px;
        height: 24px;
    }
}
@media all and (max-width: 473px) {
    .vkattor:hover, .insttator:hover, .twiteratto:hover, .facetator:hover{
        background-size: contain;
        width: 30px;
        height: 22px;
    }
}






