.mobile-container {
    display: none;
    position: absolute;
    max-width: 991px;
    margin: auto;
    border-radius: 10px;
    z-index: 2;
  }
  
  .topnav {
    overflow: hidden;
    background-color: rgba(97, 96, 96, 0.589);
    position: relative;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .active {
    opacity: rgba(226, 183, 135, 0.288);
    color: white;
  }
  
 
  
  .topnav img{
      width: 65px;
  }

@media all and (max-width: 991px){
    .mobile-container{
        display: block;
        position: fixed;
        width: 100%;
    }
    .main-nav{
        display: none;
    }
}
@media all and (max-width: 480px){
    header {
        display: none;
    }
}

header{
    width: 100%;
    background: rgb(104, 94, 82);
}
header li{
    display: inline-block;
    margin-left:30px;
    margin-top: 40px;
}
.manchester{
    color: white;
}
header a{
    text-decoration: none;
    color: rgb(226, 183, 135);
    font-size: 2.1vw;
    font-family: 'Poiret One', cursive;
}
header a:hover{
    color: rgb(0, 0, 0);
}
.header-wrap{
    width: 100%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.center{
    background-color: rgb(226, 183, 135);
    padding: 40px 0px 0px 0px;
}
.center h1{
    text-align: center;
    padding: 15px 0px;
    font-size: 25px;
    font-family: 'Poiret One', cursive;
}
.center h3{
    text-align: center;
    padding: 50px 0px 0px 0px;
    font-size: 22px;
    font-family: 'Roboto Mono', monospace;
}
.center h4{
    padding: 20px 40px 40px 40px;
    font-size: 20px;
    font-family: 'Poiret One', cursive;
}

footer{
    width: 100%;
    background-color: rgb(104, 94, 82);
}
.footer-whole{
    width: 90%;
    justify-content: center;
    margin: auto;
}
.footer-common{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 80px;
}
.test{
    align-items: center;
    display: flex;
}
.footer-left a{
    text-decoration: none;
    color: rgb(219, 136, 40);
    font-size: 18px;
}
.footer-left a:hover{
    color: #ddd;
}
.footer-right a{
    padding: 0px 10px;
}
.footer-right img{
    width: 50px;
}
@media (max-width: 479px){
    .footer-right img{
        width: 25px;
    }
    .footer-right a{
        padding: 0px 5px;
    }
    .footer-left a{
        font-size: 16px;
    }
    .image_center{
        padding: 50px 0px 0px 20px;
    }
} 

.photo_image{
    width: 30%;
}
::-webkit-scrollbar{
    background: #f0ec03;
    width: 14px;
}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 10px white;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(125deg,#f1c40f, #f6b93b, #eb2f06);
    border-radius: 15px;
}

@media screen and (max-width: 800px){
    .photo_image{
        width:50%;
    }
}
@media screen and (max-width: 470px){
    .photo_image{
        width:80%;
    }
}
@media screen and (max-width: 600px){
    .photo_image{
        width:70%;
    }
}
@media screen and (max-width: 1011px){
    .image_header{
       display: none;
    }
}


@media screen and (max-width: 855px){
    .conteiner_header{
        display: none;
    }
}




