#window{
    display: none;
    z-index: 150;
    background-color: #dfd4cc88;
    height: 100vh;
    width: 100%;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    position: absolute;
}
.loginbox{
    width: 320px;
    height: 420px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
.avatar{
    width: 250px;
    height: 70px;
    position: absolute;
    top: -30px;
    left: calc(50% - 130px);
}
.loginbox h1{
    margin: 0;
    padding: 0 0 20px;
    font-size: 22px;
    text-align: center;
}
.loginbox input{
    margin-bottom: 20px;
    width: 100%;
}
.loginbox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.loginbox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background-color: #f39c12;
    color: white;
    font-size: 18px;
    border-radius: 20px;
}
.loginbox input[type="submit"]:hover{
    cursor: pointer;
    background-color: #d35400;
    color: black;
}
.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}
.loginbox a:hover{
    color: #d35400;
}
.close p{
    top: 5%;
    left: 90%;
    position: absolute;
    cursor: pointer;
}














#popap{
    z-index: 150;
    background-color: #dfd4cc88;
    height: 100vh;
    width: 100%;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    position: absolute;
}
.pass{
    width: 320px;
    height: 420px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
.pass input[type='text']
.pass h1{
    margin: 0;
    padding: 0 0 20px;
    font-size: 22px;
    text-align: center;
}