html{ 
  scroll-behavior: smooth;
}
.arrows_up{
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  -webkit-transform: rotate(-135deg);
}
#myBtn {
    visibility: hidden;
    position: fixed;
    bottom: 60px;
    right: 30px;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgb(201, 207, 114);
    color: white;
    cursor: pointer;
    padding: 25px;
    border-radius: 10px;
    z-index: 1;
  }
  
  #myBtn:hover {
    background-color: #555;
  }
  @media all and (max-width: 500px) {
    .click{
      display: none;
    }
  }