.mobile-container {
    display: none;
    position: absolute;
    max-width: 991px;
    margin: auto;
    border-radius: 10px;
    z-index: 2;
  }
  
  .topnav {
    overflow: hidden;
    background-color: rgba(97, 96, 96, 0.589);
    position: relative;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .active {
    opacity: rgba(226, 183, 135, 0.288);
    color: white;
}
  .topnav img{
      width: 65px;
}
@media all and (max-width: 991px){
    .mobile-container{
        display: block;
        position: fixed;
        width: 100%;
    }
    .main-nav{
        display: none;
    }
    header {
        display: none;
    }
}

dialog{
    background-color:   rgb(226, 183, 135);
    border: 2px solid black;
    border-radius: 20px;
    margin: 100px;
}
dialog::backdrop{
    background-color: rgba(248, 247, 246, 0.438);
}

dialog img{
    width: 50%;
    margin-top: 20px;
}
dialog p{
    font-size: 30px;
    font-family: 'Poiret One', cursive;
    text-align: center;
    padding: 0px 100px 0px 100px;
}
dialog h1{
    margin-top: 30px;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    padding: 0px 100px 0px 100px;
}
dialog button{
    margin-top: 20px;
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 20px;
    font-family: 'Nunito', sans-serif;
}
dialog h2{
    font-size: 20px;
    margin-top: 30px;
    font-family: 'Nunito', sans-serif;
    padding: 0px 100px 0px 100px;
}

header{
    width: 100%;
    background: rgb(104, 94, 82);
}
header li{
    display: inline-block;
    margin-left:30px;
    margin-top: 40px;
}
.manchester{
    color: white;
}
header a{
    text-decoration: none;
    color: rgb(226, 183, 135);
    font-size: 2.1vw;
    font-family: 'Poiret One', cursive;
}
header a:hover{
    color: rgb(0, 0, 0);
}
.header-wrap{
    width: 100%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.conteiner{
    display: flex;
    padding: 60px 0px 0px 0px;
}

.info a{
    text-decoration: none;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    color: rgb(226, 145, 52);
    text-align: center;
    display:block;
    margin:0 auto;
    margin-top: 10px;
}

.info{
    border: 2px solid rgb(0, 0, 0);
    width: 60%;
    text-align: center;
    display:block;
    margin:0 auto;
    margin-top: 15px;
    background: rgb(63, 60, 58);
    position: relative;
    cursor: pointer;
}
.show > img{
    width: 100%;
    text-align: center;
    display: block;
    margin: 0 auto;
}

.info .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255,255,255,0.8);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .2s ease;
}
.info:hover .overlay {
    height: 30%;
}
footer{
    width: 100%;
    background-color: rgb(104, 94, 82);
}
.footer-whole{
    width: 90%;
    justify-content: center;
    margin: auto;
}
.footer-common{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 80px;
}
.test{
    align-items: center;
    display: flex;
}
.footer-left a{
    text-decoration: none;
    color: rgb(219, 136, 40);
    font-size: 18px;
}
.footer-left a:hover{
    color: #ddd;
}
.footer-right a{
    padding: 0px 10px;
}
.footer-right img{
    width: 50px;
}
@media (max-width: 479px){
    .footer-right img{
        width: 25px;
    }
    .footer-right a{
        padding: 0px 5px;
    }
    .footer-left a{
        font-size: 16px;
    }
    .image_center{
        padding: 50px 0px 0px 20px;
    }
} 

::-webkit-scrollbar{
    background: #f0ec03;
    width: 14px;
}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 10px white;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(125deg,#f1c40f, #f6b93b, #eb2f06);
    border-radius: 15px;
}
@media screen and (max-width: 1000px){
    .conteiner{
      justify-content: center;
      flex-wrap: wrap;
    }
}
@media screen and (max-width: 1011px){
    .image_header{
       display: none;
    }
}

@media screen and (max-width: 928px){
    dialog p{
        padding: 0px 50px 0px 50px;
    } 
 }



